# See https://www.dartlang.org/guides/libraries/private-files

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# IDE
.idea/
*.iml
.vscode/

# Local files
.local/

# Dart
build/
pubspec_overrides.yaml
.dart_tool/
pubspec.lock
.*
!*.gitignore
/app_platform/
